@import url("tailwindcss");

:root {
	--color-primary: #C00;
	--color-white: #FCFCFC;
	--color-secondary: #E0DFDD;
	--color-focus: #CC4E00;
	--text-black: #3D3D3D;
	--border-gray: #E0DEDC;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}
